<h1>Tipo de Pago</h1>
<div class="container">
    <h2>Agregar Agregar Tipo de pago</h2>
    <form method="post" enctype="multipart/form-data" asp-controller="TipoPagoes" asp-action="Create">
        <div class="form-group">
            <label for="Tipo">Nombre de Tipo de pago:</label>
            <input type="text" class="form-control" id="Tipo" placeholder="Ingresar Nombre de Tipo de pago" name="Tipo">
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Agregar</button>
    </form>
</div>